@media screen and (max-width: 991px) {
    .element {
        font-size: 1em;
    }

    /* Etoile */

    /* Entête */
    .navigation nav ul {
        flex-direction: row-reverse;
        
    }
    /* Formulaire */

    /* Filtres */ 

    /* Hébergement Marseille */



    /* Hébergement populaire */

    .hebergements-marseille {
        flex-direction: column-reverse;
    }
    /* Activité Marseille */

    /* Footer */
}

@media screen and (max-width: 400px) {



}