@media screen and (max-width: 991px) {
    .element {
        font-size: 1em;
    }

    /* Etoile */

    /* Entête */
    .navigation nav ul {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;

        
    }
    /* Formulaire */

    /* Filtres */ 

    /* Hébergement Marseille */
    .articles {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .hebergments {
        width: 100%;
    }

    .hebergement-item {
        width: 100%;
    }

    /* Hébergement populaire */
    .populaire {
        width: 100%;
        margin: 0;
        padding: 0;
}
    .hebergements-marseille {
        flex-direction: column-reverse;
        margin: 0;
        max-width: 100%;
    }

    
    /* Activité Marseille */

    /* Footer */
}

@media screen and (max-width: 400px) {



}