/* style général */
@font-face {
    font-family: 'Raleway';
    src: url("fonts/static/Raleway-Black.ttf");
    src: url("fonts/static/Raleway-BlackItalic.ttf");
    src: url("fonts/static/Raleway-BoldItalic.ttf");
    src: url("fonts/static/Raleway-ExtraLight.ttf");
    src: url("fonts/static/Raleway-ExtraLightItalic.ttf");
    src: url("fonts/static/Raleway-Italic.ttf");
    src: url("fonts/static/Raleway-Light.ttf");
    src: url("fonts/static/Raleway-LightItalic.ttf");
    src: url("fonts/static/Raleway-Medium.ttf");
    src: url("fonts/static/Raleway-MediumItalic.ttf");
    src: url("fonts/static/Raleway-Regular.ttf");
    src: url("fonts/static/Raleway-SemiBold.ttf");
    src: url("fonts/static/Raleway-SemiBoldItalic.ttf");
    src: url("fonts/static/Raleway-Thin.ttf");
    src: url("fonts/static/Raleway-ThinItalic.ttf");
}

body {
    margin: 0;
    font-family: "Raleway" , "Sans serif" ; 
}

body section , body header {
    margin: 0 10px;
    padding: 0;
    max-width: 100%;
}

header , section , footer {
    font-family: "Raleway", serif;
    /*margin: 0 80px 0 80px;*/
    padding: 0;
}

h2 {
    font-weight: 900;
}

a {
    color: inherit;
}
/* Entête */
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation nav {
    margin-left: auto;
    order: 2;
}

.navigation nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}
.navigation nav ul li {
    padding: 20px;
}

.nounderline {
    text-decoration: none;
}

.register {
    order: 3;
    color: #0065FC;
    font-weight: 900;
}

.logo {
    width: 10%;
    margin: 2em;
}

.navigation nav ul li:hover {
    cursor: pointer;
    border-top: #0065FC solid 2px;
}

nav ul li:active {
    color: green;
    }
/* Formulaire */
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search .fa-map-marker-alt:before {
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.5rem;
    background: #F2F2F2;
}

.search input {
    padding: 0.4rem 1.6rem;
    border: #F2F2F2;
}

.search .loop {
    display: none;
}

.search button {
    padding: 0.5rem 1.6rem;
    background-color: #0065FC;
    border-radius: 0 0.5em 0.5em 0;
    border: none;
}

span {
    color: white;
}

/* Filtres */
.filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.8em;
    margin-left: 10px;
    align-items: center;
}

.filters h2 {
    margin: 0 2em 0 0;
}

.filter-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #F2F2F2 solid 2px;
    border-radius: 2.1em;
    height: 45px;
    margin-right: 2em;
    margin-bottom: 10px;
}

.filter-item:hover {
    background-color: #0065FC;
    color: white;
}

.filter-item p {
    margin: 0 10px;
}

.filter-item i {
    padding: 0.8rem;
}

.icon-filter {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 4px;
    border-radius: 50%;
}

.fa-money-bill-wave:before , .fa-child:before , .fa-heart:before , .fa-dog:before {
    margin-top: 4px;
    display: block;
}

.filter-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0 1em 0;
}

.fa-info:before {
    margin-right: 2em;
    border-radius: 50%;
    color: #0065FC;
}

/* Hébergement Marseille*/
.hebergements-marseille a , .populaire a {
    text-decoration: none;
}

.hebergements-marseille {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hebergements {
    background-color: #F2F2F2;
    border-radius: 1.5em;
    width: 70%;
    padding: 2em;
}

.articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 1.5em;
    justify-content: center;
}

.hebergement-item {
    width: 28%;
    height: 250px;
    background-color: white;
    padding: 4px;
    margin: 0.8em;
    border-radius: 1em;
    box-shadow: 2px 2px 2px 2px lightgrey;
}

.hebergement-item img {
    width: 100%;
    height: 130px;
    border-radius: 1em 1em 0 0;
    align-items: center;
    object-fit: cover;
}

.hebergement-item p {
    margin: 0.2em 0 0.2em 0;
}

.hebergement-item h3 {
    margin-top: 0.3em;
}

.hebergement-item:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

/* étoiles */
.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

/* Hébergement populaire*/
.populaire {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 1.5em;
    padding: 2em;
    width: 30%;
    margin: 0px 0px 0px 30px;
}

.populaire .head {
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;

}

.populaire-item {
    display: flex;
    flex-direction: row;
    padding: 2px;
    background-color: white;
    border-radius: 1em;
    margin: 0.5em;
    justify-content: space-between;
}

.populaire-item .image {
    min-width: 40%;
    max-width: 40%;
}


.populaire-item img {
    width: 100%;
    height: 160px;
    text-align: left;
    border-radius: 0.4em 0 0 0.4em;
    object-fit: cover;
}

.populaire-item:hover {
    opacity: 0.7;
    transform: scale(1.1);
}


.description {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    justify-content: space-between;
}

.text h3, .text p {
    margin: 0;
    
}

/* Activité Marseille */
.activities {
    display: flex;
    flex-direction: row;
}

.activity-solo-item img {
    width: 100%;
    min-height: 477px;
    border-radius: 0.5em 0.5em 0 0;
    object-fit: cover;
    flex-grow: 1;
}

.activities-container .activity-item img{ 
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5em 0.5em 0 0;
    object-fit: cover;
    flex-grow: 1;
    overflow: hidden;
}

.activities-container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    justify-content: space-between;
    flex: 1 1 0;
}


.activity-solo-item {
    margin: 0 10px;
    border-radius: 1em;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    flex: 1 1 0;
}


.activity-item {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    height: 256px;
}

.extra-height {
    height: 280px;
}


.activities .activity-item .activity-solo-item h2 {
    white-space: nowrap;
}

.activities h2 {
    text-align: center;
}
/* Footer */
footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    margin-top: 29px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 1440px;
}

.footer-column ul {
    padding-inline-start: 0;
}

.footer-column ul li {
    list-style-type: none;
    margin: 15px 0;
}

.footer-column h2 {
    margin: 16px 0;
}

