/* style général */
@font-face {
    font-family: 'Raleway';
    src: url(fonts/static/Raleway-Black.ttf);
    src: url(fonts/static/Raleway-BlackItalic.ttf);
    src: url(fonts/static/Raleway-BoldItalic.ttf);
    src: url(fonts/static/Raleway-ExtraLight.ttf);
    src: url(fonts/static/Raleway-ExtraLightItalic.ttf);
    src: url(fonts/static/Raleway-Italic.ttf);
    src: url(fonts/static/Raleway-Light.ttf);
    src: url(fonts/static/Raleway-LightItalic.ttf);
    src: url(fonts/static/Raleway-Medium.ttf);
    src: url(fonts/static/Raleway-MediumItalic.ttf);
    src: url(fonts/static/Raleway-Regular.ttf);
    src: url(fonts/static/Raleway-SemiBold.ttf);
    src: url(fonts/static/Raleway-SemiBoldItalic.ttf);
    src: url(fonts/static/Raleway-Thin.ttf);
    src: url(fonts/static/Raleway-ThinItalic.ttf);
}

body {
    font-family: 'Raleway', serif;
}

/* Entête */
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}
.navigation nav ul li {
    padding: 20px;
}

/* Hébergement Marseille*/
.hebergements-marseille {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
}

.hebergement-item {
    width: 30%;
}

.hebergement-item img {
    width: 40%;
}

/* étoiles */
.blue {
    color: blue;
}

.grey {
    color: gray;
}

/* Hébergement populaire*/
.populaire {
    display: flex;
    flex-direction: column;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column ul li {
    list-style-type: none;
    padding: 5px;
}

/* Activité Marseille */
